<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.parse.starter"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    compile 'me.dm7.barcodescanner:zxing:1.8'
    <android:uses-permission android:name="android.permission.READ_CALL_LOG" />

    <application
        android:name=".ParseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_client_key" />

        <activity
            android:name=".ui.activity.Login"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.activity.SearchActivity"
            android:label="Search" >
        </activity>

        <activity
            android:name=".ui.activity.SearchListActivity"
            android:label="Results List" >
        </activity>

        <activity
            android:name=".ui.activity.ProductActivity"
            android:label="Product" >
        </activity>

        <activity
            android:name=".ui.activity.ListTransactionActivity"
            android:label="@string/title_activity_list_transaction" >
        </activity>
        <activity
            android:name=".ui.activity.SplitPaymentActivity"
            android:label="@string/title_activity_split" >
        </activity>
        <activity
            android:name=".ui.activity.RemotePaymentActivity"
            android:label="@string/title_activity_request_forward_pay" >
        </activity>

        <service android:name=".services.AcceptForwardService" >
        </service>

        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
        <activity
            android:name=".ui.activity.PaymentActivity"
            android:label="@string/title_activity_payment" >
        </activity>
        <activity android:name=".ui.activity.ForwardPayActivity" >
        </activity>
        <activity
            android:name=".ui.activity.QRCodeReader"
            android:label="@string/title_activity_qrcode_reader" >

        </activity>
        <activity
            android:name=".ui.activity.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
    </application>

</manifest>
